
<section id="categories" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="heading">
                    <h1 class="section-title">Products Categories</h1>
                    <h4 class="sub-title">Find the best places</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg1">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-car"></i>
                            </div>
                            <h4>Vehicle</h4>
                            <p class="categories-listing">11 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg2">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-display"></i>
                            </div>
                            <h4>Electronics</h4>
                            <p class="categories-listing">12 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg3">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-mobile"></i>
                            </div>
                            <h4>Mobiles</h4>
                            <p class="categories-listing">13 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg4">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-leaf"></i>
                            </div>
                            <h4>Furnitures</h4>
                            <p class="categories-listing">14 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg5">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-briefcase"></i>
                            </div>
                            <h4>Jobs</h4>
                            <p class="categories-listing">15 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg6">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-home"></i>
                            </div>
                            <h4>Real Estate</h4>
                            <p class="categories-listing">16 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg7">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-graduation"></i>
                            </div>
                            <h4>Education</h4>
                            <p class="categories-listing">17 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg8">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-laptop"></i>
                            </div>
                            <h4>Laptop</h4>
                            <p class="categories-listing">18 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg9">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-car"></i>
                            </div>
                            <h4>Automobiles</h4>
                            <p class="categories-listing">18 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg10">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-camera"></i>
                            </div>
                            <h4>Cameras</h4>
                            <p class="categories-listing">18 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg11">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-heart"></i>
                            </div>
                            <h4>Matrimony</h4>
                            <p class="categories-listing">18 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12">
                <a href="category.html">
                    <div class="category-icon-item lis-bg12">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="lni-leaf"></i>
                            </div>
                            <h4>Services</h4>
                            <p class="categories-listing">18 Listing</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>